# Add time serie to my dataset

In [50]:
import pandas as pd
dt_list = pd.date_range(start='2022-01-01 13:00:00', periods=100, freq='1440min')
dt_list.to_frame(index=False,name="dateTime")
dt_list.tolist()
#print(dt_list)
df = pd.DataFrame(dt_list)
df.columns=["dateTime"]
df

              dateTime
0  2022-01-01 13:00:00
1  2022-01-02 13:00:00
2  2022-01-03 13:00:00
3  2022-01-04 13:00:00
4  2022-01-05 13:00:00
..                 ...
95 2022-04-06 13:00:00
96 2022-04-07 13:00:00
97 2022-04-08 13:00:00
98 2022-04-09 13:00:00
99 2022-04-10 13:00:00

[100 rows x 1 columns]

In [51]:
import pandas  as pd
import numpy as np

df2 = pd.read_csv('apple.csv')
result = pd.concat([df2, df], axis=1)
result

,N,P,K,temperature,humidity,ph,rainfall,label,dateTime
0,24,128,196,22.750888,90.694892,5.521467,110.431786,apple,2022-01-01 13:00:00
1,7,144,197,23.849401,94.348150,6.133221,114.051249,apple,2022-01-02 13:00:00
2,14,128,205,22.608010,94.589006,6.226290,116.039659,apple,2022-01-03 13:00:00
3,8,120,201,21.186674,91.134357,6.321152,122.233323,apple,2022-01-04 13:00:00
4,20,129,201,23.410447,91.699133,5.587906,116.077793,apple,2022-01-05 13:00:00
...,...,...,...,...,...,...,...,...,...
95,40,120,197,23.805938,92.488795,5.889481,119.633555,apple,2022-04-06 13:00:00
96,25,132,198,22.319441,90.851744,5.732758,100.117344,apple,2022-04-07 13:00:00
97,31,137,196,22.144641,93.825674,6.400321,120.631078,apple,2022-04-08 13:00:00
98,36,144,196,23.651676,94.505288,6.496934,115.361127,apple,2022-04-09 13:00:00
99,10,140,197,22.169395,90.271856,6.229499,124.468311,apple,2022-04-10 13:00:00

In [53]:
result.to_csv('outcsv',index=False)

# Start processing with spark

In [116]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import when,lit
from pyspark import SparkContext
spark = SparkSession \
    .builder \
    .appName("SendToMongo") \
    .master('local')\
    .config("spark.mongodb.input.uri", "mongodb+srv://MedDb:M0hamed17125399@cluster0.dbyavcr.mongodb.net/smart_frame") \
    .config("spark.mongodb.output.uri", "mongodb+srv://MedDb:M0hamed17125399@cluster0.dbyavcr.mongodb.net/smart_frame") \
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1') \
    .getOrCreate()

## mongodb+srv://MedDB:M0h%40med17125399%3B@cluster0.dbyavcr.mongodb.net/test
df_spark = spark.read.csv("outcsv.csv", header=True, inferSchema=True)
df_spark

DataFrame[N: int, P: int, K: int, temperature: double, humidity: double, ph: double, rainfall: double, label: string, dateTime: timestamp]

In [117]:
df_spark.show()

+---+---+---+-----------+-----------+------------------+------------------+-----+-------------------+
|  N|  P|  K|temperature|   humidity|                ph|          rainfall|label|           dateTime|
+---+---+---+-----------+-----------+------------------+------------------+-----+-------------------+
| 24|128|196|22.75088787|90.69489172|       5.521466996|       110.4317855|apple|2022-01-01 13:00:00|
|  7|144|197| 23.8494014|94.34814995|       6.133220586|       114.0512495|apple|2022-01-02 13:00:00|
| 14|128|205|22.60800988|94.58900601|       6.226289556|       116.0396587|apple|2022-01-03 13:00:00|
|  8|120|201|21.18667419|91.13435689|       6.321152192|        122.233323|apple|2022-01-04 13:00:00|
| 20|129|201|23.41044706|91.69913296|       5.587905967|116.07779309999998|apple|2022-01-05 13:00:00|
| 32|137|204|22.86006627|93.12859895| 5.824151692999999|       117.7296726|apple|2022-01-06 13:00:00|
| 27|139|205|22.48403042|93.40819246|5.7721799460000005|       105.5473627|apple|2022-01-07 13:00:00|
|  0|123|205|22.02775403|92.96129462|       5.790993052|       121.1349176|apple|2022-01-08 13:00:00|
| 22|144|196|21.91191314|91.68748063|6.4992268210000015|       117.0761277|apple|2022-01-09 13:00:00|
|  1|124|199|23.71059131|93.27392415| 5.658473817000001|112.66765890000002|apple|2022-01-10 13:00:00|
| 30|122|197|21.37784654|92.72043743|       5.573241391|       106.1417017|apple|2022-01-11 13:00:00|
| 29|121|196|22.84852833|94.32130209| 6.079497202000001|       123.5977843|apple|2022-01-12 13:00:00|
| 13|126|204| 23.1094265|92.79630809|6.3831802710000005|        108.183792|apple|2022-01-13 13:00:00|
|  9|139|199|23.25230817|94.54128292|       5.867420996|       105.3558408|apple|2022-01-14 13:00:00|
|  0|133|200|23.67287749| 90.4935574|       5.708418722|       104.2298028|apple|2022-01-15 13:00:00|
| 30|143|199|23.76881552|90.59810302|5.7983508000000015|       102.2648546|apple|2022-01-16 13:00:00|
| 36|140|198|23.34386401|91.47684705|        6.28188384|       104.4267991|apple|2022-01-17 13:00:00|
| 37|137|199|22.63946441|90.18451645|       5.697945522|       108.3405879|apple|2022-01-18 13:00:00|
| 33|121|203|22.45696744|94.76285385|5.6059340870000005|       114.8407725|apple|2022-01-19 13:00:00|
|  7|144|195|22.96388477|93.58065995|        5.85648105|104.64729859999998|apple|2022-01-20 13:00:00|
+---+---+---+-----------+-----------+------------------+------------------+-----+-------------------+
only showing top 20 rows

In [156]:
##df_spark["nitrogen_test"]=""
df_spark_pd = df_spark.toPandas()
nitrogen_test_list = []
phosphor_test_list = []
potassuim_test_list = []
dayeTime_test_list = []
for index, row in df_spark_pd.iterrows():
    if (row['N']<13 or row['N']>23) and (row['K']<190 or row['K']>200) and (row['P']<125 or row['P']>135):
        print("error",row['N'],row['K'],row['P'], row['dateTime'])
        nitrogen_test_list.append(row['N'])
        phosphor_test_list.append(row['P'])
        potassuim_test_list.append(row['K'])
        dayeTime_test_list.append(row['dateTime'])

error 8 201 120 2022-01-04 13:00:00
error 32 204 137 2022-01-06 13:00:00
error 27 205 139 2022-01-07 13:00:00
error 0 205 123 2022-01-08 13:00:00
error 33 203 121 2022-01-19 13:00:00
error 29 204 144 2022-01-25 13:00:00
error 32 203 141 2022-01-26 13:00:00
error 2 203 120 2022-02-01 13:00:00
error 10 201 141 2022-02-03 13:00:00
error 24 202 142 2022-02-04 13:00:00
error 26 202 122 2022-02-08 13:00:00
error 28 202 123 2022-02-09 13:00:00
error 26 201 121 2022-02-10 13:00:00
error 5 205 144 2022-02-13 13:00:00
error 2 205 123 2022-02-14 13:00:00
error 27 201 138 2022-02-26 13:00:00
error 32 203 145 2022-02-28 13:00:00
error 29 205 139 2022-03-01 13:00:00
error 40 202 136 2022-03-03 13:00:00
error 29 205 145 2022-03-10 13:00:00
error 10 204 136 2022-03-14 13:00:00
error 33 204 143 2022-03-22 13:00:00
error 35 203 142 2022-03-27 13:00:00
error 0 205 145 2022-03-30 13:00:00
error 31 201 121 2022-03-31 13:00:00

/Users/m/.pyenv/versions/3.10.7/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

In [176]:
df_test_N=pd.DataFrame(data=nitrogen_test_list,columns=["N"])
df_test_N
df_test_P=pd.DataFrame(data=phosphor_test_list,columns=["P"])
df_test_P
df_test_K=pd.DataFrame(data=potassuim_test_list,columns=["K"])
df_test_K
df_test_time=pd.DataFrame(data=dayeTime_test_list,columns=["dateTime"])
df_test_time
result_test = pd.concat([df_test_N, df_test_P,df_test_K,df_test_time], axis=1)
result_test
result_test.to_csv('soil_test.csv',index=False)

In [175]:
temp_test_list = []
hum_test_list = []
rain_test_list = []
dayeTime_test_list1 = []
for index, row in df_spark_pd.iterrows():
    if (row['humidity']<85 or row['humidity']>92) and  (row['rainfall']<105 or row['rainfall']>120):
        print("error",row['humidity'],row['temperature'],row['rainfall'], row['dateTime'])
        temp_test_list.append(row['humidity'])
        hum_test_list.append(row['temperature'])
        rain_test_list.append(row['rainfall'])
        dayeTime_test_list1.append(row['dateTime'])

df_test_temp=pd.DataFrame(data=temp_test_list,columns=["humidity"])
df_test_temp
df_test_hum=pd.DataFrame(data=hum_test_list,columns=["temperature"])
df_test_hum
df_test_rain=pd.DataFrame(data=rain_test_list,columns=["rainfall"])
df_test_rain
df_test_time1=pd.DataFrame(data=dayeTime_test_list1,columns=["dateTime"])
df_test_time1
result_air_test = pd.concat([df_test_temp, df_test_hum,df_test_rain,df_test_time1], axis=1)
result_air_test
result_air_test.to_csv('air_test.csv',index=False)

error 92.96129462 22.02775403 121.1349176 2022-01-08 13:00:00
error 94.32130209 22.84852833 123.5977843 2022-01-12 13:00:00
error 93.58065995 22.96388477 104.64729859999998 2022-01-20 13:00:00
error 92.70785115 22.44075021 121.4977331 2022-01-22 13:00:00
error 93.3204487 22.98458907 122.1952483 2022-02-02 13:00:00
error 93.50574163 22.20700989 120.1593771 2022-02-07 13:00:00
error 92.12438519 22.76643029 120.4359949 2022-02-09 13:00:00
error 92.62665309 21.42177231 102.8045658 2022-02-13 13:00:00
error 92.73446667 21.80129837 120.05866709999998 2022-02-16 13:00:00
error 92.80441624 23.80436344 100.6192543 2022-02-17 13:00:00
error 92.45878335 22.50050273 100.9343903 2022-02-27 13:00:00
error 93.45067555 23.8812458 104.9116663 2022-03-15 13:00:00
error 94.36803516 22.78234161 122.1449949 2022-03-16 13:00:00
error 92.43764169 22.19055385 121.6622761 2022-03-17 13:00:00
error 92.83975602 21.72484506 121.6961761 2022-03-20 13:00:00
error 93.661643 23.76121837 100.825956 2022-03-25 13:00:00
error 93.91722423 22.42776057 102.7230739 2022-04-01 13:00:00
error 93.82567435 22.14464104 120.6310784 2022-04-08 13:00:00

# save data in mongodb

In [ ]:
#
result_air_test.write\
    .format('com.mongodb.spark.sql.DefaultSource')\
    .option( "uri", "mongodb+srv:// MedDb:M0hamed17125399@cluster0.dbyavcr.mongodb.net/smart_farme.air_data") \
    .save()

In [ ]:
result_test.write\
    .format('com.mongodb.spark.sql.DefaultSource')\
    .option( "uri", "mongodb+srv:// MedDb:M0hamed17125399@cluster0.dbyavcr.mongodb.net/smart_farme.soil_data") \
    .save()

In [ ]:
df_spark_pd.write\
    .format('com.mongodb.spark.sql.DefaultSource')\
    .option( "uri", "mongodb+srv:// MedDb:M0hamed17125399@cluster0.dbyavcr.mongodb.net/smart_farme.Iot_data") \
    .save()